
.icon-indent-left:before { content: '\e800'; } /* '' */
.icon-indent-right:before { content: '\e801'; } /* '' */
.icon-bold:before { content: '\e802'; } /* '' */
.icon-italic:before { content: '\e803'; } /* '' */
.icon-text-bg:before { content: '\e804'; } /* '' */
.icon-redo:before { content: '\e805'; } /* '' */
.icon-align-right:before { content: '\e806'; } /* '' */
.icon-align-center:before { content: '\e807'; } /* '' */
.icon-align-left:before { content: '\e808'; } /* '' */
.icon-font:before { content: '\e809'; } /* '' */
.icon-align-justify:before { content: '\e80a'; } /* '' */
.icon-qrcode:before { content: '\e80b'; } /* '' */
.icon-upload:before { content: '\e80c'; } /* '' */
.icon-picture:before { content: '\e80d'; } /* '' */
.icon-picture-1:before { content: '\e80e'; } /* '' */
.icon-minus:before { content: '\e80f'; } /* '' */
.icon-text-color:before { content: '\e810'; } /* '' */
.icon-code-1:before { content: '\e811'; } /* '' */
.icon-barcode:before { content: '\e812'; } /* '' */
.icon-call-merge:before { content: '\e813'; } /* '' */
.icon-fontsize:before { content: '\e814'; } /* '' */
.icon-trash-empty:before { content: '\e815'; } /* '' */
.icon-list-add:before { content: '\e816'; } /* '' */
.icon-doc-text:before { content: '\e817'; } /* '' */
.icon-progress-3:before { content: '\e818'; } /* '' */
.icon-calendar-alt:before { content: '\e819'; } /* '' */
.icon-doc-landscape:before { content: '\e81a'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-undo:before { content: '\f112'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-sq-minus:before { content: '\f147'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */
