/* Web Video */

.ProseMirror {
    p:has(iframe) {
        position: relative;

        @media(max-width: 960px) {
            width: 82vw;
            /* height: calc(82vw * 0.565); */
            height: max-content;
        }
    }

    p>iframe.video {
        position: relative;
        width: calc(100% - 2em);
        aspect-ratio: 16 / 9;
        max-width: 800px;

        &.vertical {
            max-width: 360px;
            height: unset;
            aspect-ratio: 9 / 19;
        }
    }
}

/* Web Video */